'hello'
"hi"
# python basics
## python basics
### python basics

In [14]:
"hello"

'hello'

In [15]:
"hello"
'hi'

'hi'

In [16]:
"hello"
print('hi')

hi

In [17]:
'hi'
print("hello")

hello

In [18]:
print(a)

NameError: name 'a' is not defined

In [21]:
a=5
print(a)

5

In [22]:
print(type(a))

<class 'int'>

In [23]:
type(a)

int

In [25]:
str="divya"

print(type(str))

<class 'str'>

In [26]:
type(str)

str

In [27]:
a

5

In [28]:
str

'divya'

# python data types

In [32]:
a=10
print(type(a))
type(a)
str="divya"
print(type(str))
type(str)
f=4.0
print(type(f))
type(f)

<class 'int'>
<class 'str'>
<class 'float'>

float

In [35]:
print(type(a))
type(a)
type(f)

<class 'int'>

float

# Type Conversions

In [39]:
a=10
type(a)
b="divya"
type(b)
c=4.0
type(c)
float(str(int(c)))

TypeError: 'str' object is not callable

In [40]:
n2=4
n1=4*n2
type(n1)

int

In [41]:
len(str(n2))

TypeError: 'str' object is not callable

# Checking python variables

### system version

In [42]:
import platform
print(platform.python_version())
print(platform.sys.version)

3.6.5
3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

In [43]:
import sys
print(sys.version)

3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

# comments

In [46]:
#print(5) single line comment

In [2]:
#Multiple line comments
""" print(345)
print("dfd")"""
'''print(434)
print("fdf")'''

'print(434)\nprint("fdf")'

In [6]:
print (1,2,3 sep="abc")
print("hello")

SyntaxError: invalid syntax (<ipython-input-6-ff18f408f8e3>, line 1)

In [10]:
print(1,2,3,sep="abc",end='  ')
print ("hello")

1abc2abc3  hello

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
print(3 ,5,7)

3 5 7

In [13]:
#creating different type of variables with different values
i=10
print(i,type(i))

10 <class 'int'>

# Boolean variables

In [15]:
print(True)

True

In [16]:
print(bool(0))
print(bool(1))

False
True

In [18]:
print(True+True)
print(True+False)
print(False+False)
print(False+True)

2
1
0
1

In [19]:
print(True-True)
print(True-False)
print(False-False)
print(False-True)

0
1
0
-1

In [20]:
print(True*True)
print(True*False)
print(False*False)
print(False*True)

1
0
0
0

In [22]:
print(3*"hello")

hellohellohello

In [23]:
print("hello "*3)

hello hello hello

In [24]:
print(3//2)

1

In [25]:
print(3.0//2)

1.0

In [26]:
print(3//2.0)

1.0

In [28]:
bool("hi")

True

In [29]:
bool("")

False

In [30]:
int(3.5)

3

In [31]:
float(4)

4.0

In [33]:
str(10)

'10'

# Operators

In [36]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3//2)
print(3%2)

5
1
6
1.5
1
1

In [37]:
a=45
b=4
c=a+b
print(c)

49

In [38]:
a,b=4,6
print(a+b)

10

In [40]:
a="hello"
b="world"
print(a+b)

helloworld

In [41]:
a="Hello"
b="World"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Task on Operators
### oranges=3, price per one 6
### apples=9,price 10
### total price interms of multiple of 10

In [46]:
o=3
a=9
t=o*6+a*10
print(t//10)

10

# Strings

In [47]:
print("hello")

hello

In [48]:
print("This is my python\n program")

This is my python
 program

In [49]:
s="Hello World"
s

'Hello World'

# String Slicing

In [50]:
s[::-1]

'dlroW olleH'

In [51]:
s[:5]

'Hello'

In [52]:
print(s[:5])

Hello

In [53]:
s[0:]

'Hello World'

In [54]:
s[0::]

'Hello World'

In [56]:
s[0::2]

'HloWrd'

In [58]:
s[0::3]

'HlWl'

In [60]:
s[:-1]

'Hello Worl'

In [61]:
s="divya"
s.upper()

'DIVYA'

In [62]:
s="TEJA"
s.lower()

'teja'

In [64]:
s="python vs java"
s.capitalize()

'Python vs java'

In [65]:
s

'python vs java'

In [66]:
s="hello"
s.swapcase() #converts capital to small and viceversa

'HELLO'

In [68]:
s="python vs java"
s.title()

'Python Vs Java'

In [69]:
len(s)

14

In [70]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [74]:
a="Hello World"
a

'Hello World'

In [73]:
a.casefold()

'hello world'

In [75]:
a.split()

['Hello', 'World']

In [76]:
a.count('o')

2

# Assignment
## Try remaining functions
## Task

In [78]:
#Take a string "problem solving using python"
# fing the length of the string
s="problem solving using python"
len(s)

28

In [79]:
# change the string to lowercase
s.upper()

'PROBLEM SOLVING USING PYTHON'

In [80]:
# print the string in reverse order
s[::-1]

'nohtyp gnisu gnivlos melborp'

In [81]:
#split the string
s.split()

['problem', 'solving', 'using', 'python']

In [82]:
#print the string without spaces
s.replace(" ", "")

'problemsolvingusingpython'

In [83]:
s.count('s')

2

# Take a string "python programming by python platforms

In [84]:
s="python programming by python platforms"
s.count('python')

2

In [86]:
#read input from keyboard
s=input("enter ur num")
s
type(s)

enter ur num4

str

In [87]:
a=int(input("enter ur num"))
a
type(a)

enter ur num4

int

In [89]:
# read 2 numbers from keyboard and print their sum
a=int(input("enter ur no"))
b=int(input("enter ur no"))
print(a+b)

enter ur no4
enter ur no65
69

In [90]:
# read an integer and string and repeat integer times of a string
a=int(input("enter ur no"))
b=input("enter string")
print(a*b)

enter ur no3
enter stringfgg
fggfggfgg

In [91]:
# Read both first name and last name from keyboard,print output
n1=input("enter first name")
n2=input("enter last name")
print(n1,n2)
print(n2,n1)
print(n1+"."+n2)
print(n1+" "+n2)

enter first nameDivya
enter last nameSirigineedi
Divya Sirigineedi
Sirigineedi Divya
Divya.Sirigineedi
Divya Sirigineedi