# Python Data Structures
### 1)LIST
### 2)TUPLE
### 3)SET
### 4)DICTIONARY

In [5]:
#1) list - a collection of elements which iss always  ordered  andd changeable .Allows duplicate
li =[]
type(li)

tuple

In [6]:
li #Access the entire list

[]

In [20]:
li=[1,2,3,4]
print(li[0]) # first index
print(li[0:]) #entire list
print(li[-1])  #last index
print(li[::-1]) # print reverse
print(li)      # print list
print(li[::2])  # step of 2
print(li[1::2]) # starts 1st index step of 2

1
[1, 2, 3, 4]
4
[4, 3, 2, 1]
[1, 2, 3, 4]
[1, 3]
[2, 4]

In [21]:
name="divya"
Mylist=[]
print(type(name),type(Mylist))

<class 'str'> <class 'list'>

In [22]:
mylist=list()
type(mylist)

list

In [30]:
name=["divya","teja"]
print(type(name))
print(len(name))   # finding length of string
print(name[0])
print(name[4])

<class 'list'>
2
divya

IndexError: list index out of range

# List Methods

# Append

*  To add new item in the available list

In [23]:
name=["divya","teja" ]

In [24]:
name.append("laxmi")

In [25]:
name

['divya', 'teja', 'laxmi']

In [26]:
new=["sweety","udhay"]

In [27]:
name.append(new)
name

['divya', 'teja', 'laxmi', ['sweety', 'udhay']]

In [28]:
len(name)

4

# Extended Methods

In [15]:
names= ['vijaya','krishna','divya']

In [16]:
new_persons=["jaya","vijaya"]

In [17]:
names.extend(new_persons)

In [18]:
names

['vijaya', 'krishna', 'divya', 'jaya', 'vijaya']

# copy()

In [7]:
hari=[1,3,4,5]
lakshmi=hari.copy()

In [8]:
lakshmi

[1, 3, 4, 5]

In [9]:
hari

[1, 3, 4, 5]

In [10]:
girls=["vijaya","divya",]

In [12]:
girls[0]="jaya"

In [13]:
girls

['jaya', 'divya']

In [19]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# clear()

* to remove an item in list

In [20]:
girls

['jaya', 'divya']

In [21]:
girls.clear()

In [22]:
girls

[]

# count(item)

* it can search for given item and return the number of times occurances in a list

In [32]:
girls=["bhanu","subha","bhanu"]
girls.count("bhanu")

2

In [33]:
girls.count("subha")

1

In [35]:
numbers=[1,2,3,4,[1,2]]
numbers.count(2)

1

# index (item,start_index_for_searching)
* return index of first occurance of the item in list if available or otherwise value shows error

In [38]:
numbers.index(4)

3

In [39]:
numbers.index([1,2])

4

In [47]:
num=[1,2,3,1,2,3,1,2,3,4,5]   # searching 1 after 4th index
num.index(1,4)

6

# insert ()
* if givevn index available it can add item at given index otherwise it adds last index

In [48]:
num=[1,2,3,4,5,6,7]
num.insert(3,4) #after 4th index 3 will added

In [49]:
num

[1, 2, 3, 4, 4, 5, 6, 7]

In [50]:
num1=[10,20,30]
num1.insert(40,50) #50 will add at 40th index here last index

In [51]:
num1

[10, 20, 30, 50]

# pop
* removes the element at the specific position

In [52]:
good_girls=["divya","teja","jaya","vini"]

In [53]:
good_girls

['divya', 'teja', 'jaya', 'vini']

In [56]:
good_girls.pop(1)

'teja'

In [57]:
good_girls

['divya', 'jaya', 'vini']

In [58]:
good_girls.pop()

'vini'

In [59]:
good_girls

['divya', 'jaya']

# Remove()
* Removes specific item
* if multiple occurances removes the first element

In [62]:
absentee_girls=["rani","vidhya","mouni"]
absentee_girls.remove('vidhya')

In [63]:
absentee_girls

['rani', 'mouni']

# Reverse()
* REVERSE THE ITEM

In [64]:
active_g =["divya","teja","laxmi"]

In [65]:
active_g

['divya', 'teja', 'laxmi']

In [66]:
active_g.reverse()

In [67]:
active_g

['laxmi', 'teja', 'divya']


# Sort()
* Sort the list in alphabetically

In [69]:
cars =['ford','bmw','volvo']
cars.sort()
cars

['bmw', 'ford', 'volvo']

In [70]:
cars.sort(reverse=True)
cars

['volvo', 'ford', 'bmw']

In [73]:
marks=[[30,40],[50,60],[10,20]]
marks.sort()
marks

[[10, 20], [30, 40], [50, 60]]

### Tasks in website
* Given list contains all electronic items [mobile,laptop,speakers].I f you find any item which is not related to electronics then remove it using slicing methods

# examples

In [75]:
# function to identify the second largest element in a unique list
  #sort the data and select the second last element
  # sort the data in reverse order  and select the second element

In [76]:
li=[1,2,3,4]

In [77]:
li

[1, 2, 3, 4]

In [85]:
def secondlargest(li):
    li.sort()
    return li[-2]
secondlargest(li)

3

In [87]:
# function remove the max element and then get the max of the new list
def max(li):
    li.sort()
    return li.pop()
max(li)

4

In [88]:
#function that returns nth largest
def largest(li,n):
    li.sort()
    return li[-n]
secondlargest(li)
largest(li,2)

2

In [97]:
s="1 2 3  4 5 6"
li=s.split()
numberlist=[]
for i in li:
    numberlist.append(i)
numberlist

1 2 3  4 5 6

In [98]:
print(s)

1 2 3  4 5 6