###  Tuples
* collection of elements which are unchangeable and ordered

In [1]:
t=()
t

()

In [2]:
t=(10,20,30)
t
type(t)

tuple

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
for i in t:
    print(i,end=' ')

10 20 30

In [5]:
t[0:3:2]

(10, 30)

In [6]:
tuple1=("divya",2,"teja",3)
tuple1

('divya', 2, 'teja', 3)

# index  method
* tells the index ,specified values in a tuple

In [7]:
tuple1[3]

3

In [8]:
len(tuple1)

4

# count method 
* number of times occured in a tuple

print(tuple1.count(2))
print(tuple1.count(266))

In [9]:
city_tuple=('del',"hyd",4,"chennai")

In [10]:
b=city_tuple[:-1]
b

('del', 'hyd', 4)

In [11]:
print(len(b))
b

3

('del', 'hyd', 4)

In [12]:
print(b)
c=list(b)
print(c)
print(" c is : {0}".format(c))
c=tuple(c)
print(c)
print(" c is now a tuple: {0}".format(c))

('del', 'hyd', 4)
['del', 'hyd', 4]
 c is : ['del', 'hyd', 4]
('del', 'hyd', 4)
 c is now a tuple: ('del', 'hyd', 4)

In [13]:
x=("divya","teja","madhuri")
y=list(x)
y[1]="vijaya"
x=tuple(y)
x

('divya', 'vijaya', 'madhuri')

In [14]:
if 'divya' in x:
    print('yes')
else:
    print('no')

yes

In [15]:
x=("divya","teja","madhuri")
x[4]="fjdsf"
x

TypeError: 'tuple' object does not support item assignment

In [ ]:
b=(3,4,5)
c=list(b)
c

In [ ]:
c=tuple(b)
c

In [ ]:
y=(1,2,3,5)
y

In [ ]:
del y
y

In [ ]:
a=(1,2,3,4,'a','f','g')
b=(5,6,7,8)
c=a+b
print(c)

In [ ]:
# program to convert given tuple in to string
t=('a','b')
s=" ".join(t)
t

# Tasks

In [ ]:
# Python program to reverse the given elements in tuple.

In [ ]:
t=('a',1,'b',2)
for i in t :
    print(i)

In [ ]:
#  Python program to print names in tuples using iterations
t=("divya","teja","mutthu")
for i in t:
    print(i)

# set
* set  is unordered and unindexed

In [16]:
s={10,20,30,10}
s2={40,50,60}
print(s)
print(s2)

{10, 20, 30}
{40, 50, 60}

In [17]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [18]:
s[0]

TypeError: 'set' object is not subscriptable

In [19]:
names={"divya",'teja','jyo'}
for i in names:
    print(i)

jyo
divya
teja

In [20]:
# accessing the items
print('teja' in names)

True

In [21]:
names.add("laxmi")
names

{'divya', 'jyo', 'laxmi', 'teja'}

In [22]:
names.update(["jaya","naga"])
print(names)

{'laxmi', 'naga', 'jyo', 'jaya', 'divya', 'teja'}

In [23]:
names.remove("divya")
names

{'jaya', 'jyo', 'laxmi', 'naga', 'teja'}

In [24]:
names.discard("naga")
names

{'jaya', 'jyo', 'laxmi', 'teja'}

In [25]:
names.pop()
names

{'jaya', 'jyo', 'teja'}

In [30]:
names.clear()
names

set()

In [39]:
s={'d',3,'r'}
del s
print(s)

NameError: name 's' is not defined

# union
* joining of two sets

In [45]:
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

In [46]:
s4=s1.intersection(s2)
s4

{4}

In [47]:
s2.difference(s1)

{5, 6}

In [48]:
s1.difference_update(s2)
s1

{1, 2, 3}

In [50]:
s1={1,2,3}
s2={1,2,3,4,5}

In [52]:
s2.issubset(s1)

False

In [53]:
s1.issubset(s2)

True

# Task

In [54]:
s1.intersection_update(s2) # Update a set with the intersection of itself and another.

In [55]:
s1

{1, 2, 3}

In [57]:
help(s1.symmetric_difference(s2))

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [58]:
s1.issuperset(s2) # Report whether this set contains another set.

False

In [59]:
s2.issuperset(s1)

True

In [60]:
s1.isdisjoint(s2) # Return True if two sets have a null intersection

False

In [65]:
s3=s2.copy() # Return a shallow copy of a set.
s3

{1, 2, 3, 4, 5}

In [68]:
s1.symmetric_difference_update(s2)
s1

{4, 5}

In [69]:
s1.symmetric_difference(s2)   # Return the symmetric difference of two sets as a new set.
#(i.e. all elements that are in exactly one of the sets.
s1

{4, 5}

# Packages and Modules

* Package:Package iss a collection of modules
* Module: A single python file containing functions
* package  -->subPackage-->  Modules --> Function

# Module

In [75]:
def divya(name):
    print("hello",+name)

In [76]:
import firstmodule
firstmodule.print("hello world")

ModuleNotFoundError: No module named 'firstmodule'

In [77]:
import firstmodule as mod #to rename a file name

ModuleNotFoundError: No module named 'firstmodule'

# Packages

In [78]:
from math import floor as f1
f1(1232.45)

1232

In [81]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
rand(10,1,100)

16 78 37 50 79 45 80 98 98 2

In [89]:
from packages.numerical import isprime
isprime(3)

ModuleNotFoundError: No module named 'packages'

In [92]:
from math import sqrt as s
print(s(256))
s(120)

16.0

10.954451150103322

In [100]:
dir(s)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']